/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@font-face {
    font-family: "News Cycle";
    src: url(../font/NewsCycle-Regular.ttf);
}

body {
    /* background-color: #222; */
    color: #888;
    padding: 20px;
    font-family: "Georgia";
}
    
body:before {
    font-size: 30px;
    content: "Mobiles (Portrait)";
    display: block;
    margin-bottom: 50px;
}

header,figure {
    /* padding: 20px;
    padding-top: 40px; */
    position: relative;
}

header {
    /* padding-top: 20px; */
}

header:before,figure:before {
    font-size: 1.3em;
    display: block;
    position: absolute;
    background-color: #fff;
    padding: 10px 10px;
    top: -20px;
    left: 15px;
}

header:before {
    /* content: "Select"; */
}

figure:before {
    /* content: "Figure"; */
}

input[type="text"] {
    border: 1px solid #ccc;
    width: 100%;
    height: 30px;
    padding: 20px;
    font: 1em "Georgia";
    outline: none;
    color: rgb(31, 80, 185);
}

input[type="file"] {
    width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}

input[type="file"]:before {
    content: 'Load';
    text-align: center;
    width: 100%;
    margin-top: 10px;
    height: 42px;
    padding: 20px;
    line-height: 4px;
    font-size: 1.2em;
    font-family: "Georgia";
    color: #666;
    cursor: pointer;
    background: rgb(239, 239, 239);
    display: block;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 10px;
    height: 42px;
    outline: none;
    border: none;
    padding: 20px;
    line-height: 4px;
    font-size: 1em;
    font-family: "Georgia";
    color: #666;
    cursor: pointer;
}

select {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    font-family: "Georgia";
    color: #666;
    height: 42px;
    padding-left: 20px;
    border: none;
    background-color: rgb(239, 239, 239);
}

button:active {
    background-color: rgb(175, 197, 245);
    color: rgb(31, 80, 185);
}

main {
    margin-top: 30px;
}

svg {
    outline: 1px dashed rgb(105, 130, 185);
    /* width: 100%; */
}

svg.hide {
    display: none;
}

g.bar text, g.year_group text, g.scenario_group text, g.province_group text, g.period_group text, g.group_group text, g.grid g.tick text, g.sector_group text, g.usage_group text {
    /* fill: #888; */
    fill: black;
}

g.bar text {
    font-size: 13px; /*12px*/
}

g.year_group text, g.scenario_group text, g.province_group text, g.period_group text, g.group_group text, g.grid g.tick text, g.sector_group text, g.usage_group text {
    font-family: "News Cycle";
    letter-spacing: 1px;
}

g.year_group text, g.scenario_group text, g.province_group text, g.period_group text, g.group_group text, g.sector_group text, g.usage_group text {
    font-size: 14px;
}

g.grid g.tick text {
    font-size: 12px;
    font-size: 13px;
}

g.y_axis .text text, g.x_axis .text text {
    font-size: 13px; /*13px*/
    /* fill: #777; */
    fill: black;
    font-family: "News Cycle";
    word-spacing: 3px;
    /* font-variant: all-small-caps; */
}

g.figureTitle text, g.title text {
    font-family: "News Cycle";
    fill: #949494;
}

g.figureTitle text {
    font-size: 21px;
    word-spacing: 2px;
    /* font-variant: all-small-caps; */
}

g.filigrane text {
    font-family: "News Cycle";
    fill: #000000;
}

g.filigrane text {
    font-size: 60px;
    word-spacing: 4px;
    opacity: 0.425;
    text-shadow: 0 0 2px #fff;
}

g.source text {
    font-family: "News Cycle";
    fill: #000000;
}

g.source text {
    font-size: 12px;
    opacity: 0.9;
}

g.title text {
    font-size: 18px;
}

g.grid line {
    opacity: 0.4;
}

g.grid path {
    stroke-width: 0;
}

g.grid line {
    stroke-width: 2px;
    stroke: #ccc;
}

g.tick_x text {
    font-family: "News Cycle";
}

g.legend text {
    font-size: 14px; /*12px*/
    font-size: 16px;
    /* fill: #666; */
    fill: black;
    font-family: "News Cycle";
}

.x_axis path, .y_axis path {
    opacity: 0;
}

.y_axis .tick text {
    font-family: "News Cycle";
    letter-spacing: 2px;
    font-size: 12px; /*10px*/
}

.y_axis .axis line {
    stroke: #ccc;
}

g.line path {
    fill: none;
    stroke-width: 2px;
}

g.line path.min {
    stroke-dasharray: 7;
    stroke-width: 3px;
}

g.line path.max {
    stroke-width: 3px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1rem;
    font-family: "News Cycle";
}

/**********************************/

.autocomplete {
    width: 100%;
    position: relative;
    float: left;
}

.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fefefe;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.autocomplete-items div {
    padding: 5px 10px;
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #eee;
    color: rgb(31, 80, 185);
}


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px
*/
@media (min-width: 320px) {
}







/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
}









/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px
*/
@media (min-width: 481px) {
    button, select {
        float: left;
        width: 19%;
        margin-right: 1.25%;
    }

    button:last-child {
        margin-right: 0;
    }

    select {
        padding-left: 10px;
    }

    input[type="file"] {
        float: left;
        width: 19%;
        margin-right: 1.25%;
    }

    header:after {
        content: "";
        clear: both;
        display: block;
    }
}







/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {     
    body:before {
        content: "Low Res Tablets, Mobiles (Landscape)";
    }
}











/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px
*/
@media (min-width: 768px) {
    .autocomplete {
        width: 40%;
        max-width: 290px;
        margin-right: 2%;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        margin-top: 0;
        width: 10%;
        max-width: 145px;
        margin-right: 2%;
    }

    input[type="file"] {
        width: 10%;
        max-width: 145px;
        margin-right: 2%;
    }

    input[type="file"]:before {
        margin-top: 0;
    }

    select {
        margin-top: 0;
        width: 10%;
        margin-right: 2%;
    }
}







/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body:before {
        content: "Tablets, Ipads (landscape)";
    }
}




/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    body:before {
        content: "Tablets, Ipads (portrait)";
    } 
}






/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px
*/
@media (min-width: 1025px) {

    .autocomplete {
        margin-right: 24px;
    }
    
    button {
        margin-right: 24px;
    }

    select {
        margin-right: 24px;
    }
}








/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) { 
    body:before {
        content: "Laptops, Desktops";
    }
}





/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {  
    body:before {
        content: "Desktops";
    }
}
